// @import '../../global'; // Global SCSS Styling

// table { width: 100%;
//     border: 5px solid green;}
// tr th { font-style: Verdana, sans-serif; color: $Jet; 
//     border: 5px solid red;}
// tr:last-child td { color: $Jet; font-weight: 500; 
//     border: 5px solid red;}
// td { color: GetPrimaryColor(2); }

// .AlignColLeft { text-align: left; }
// .AlignColCenter { text-align: center; }
// .AlignColRight { text-align: right; }